.btn { 
    flex-grow: 0;
    font-size: 14px;
    padding: 10px 16px;
    border: none;
    outline:none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.likes_btn {
    background-color: rgb(216, 216, 216);
}

.btn_show{ 
    background-color: rgba(14, 101, 112, 0.979);
    color: #fff;
    margin-right: 15px;
}

.likes_btn:hover,
.btn_show:hover {
    background-color: rgb(92, 91, 91);
    color: #fff;
}