body {
    background-color: #efefef;
}

input {
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgba(189, 189, 189, 0.979);
}

input:focus {
    background-color: rgba(14, 101, 112, 0.979);
    color: #fff;
    
}

input::placeholder {
    color: rgb(247, 240, 240);
    font-weight: bold;
}

.app {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.search-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    height: 20%;
}